.ingredientsList {
    display: grid;
    grid-template: 1fr / repeat(2, 2fr);
    column-gap: 24px;
    justify-content: center;
    justify-items: center;
    max-height: 664px;
    overflow: scroll;
    overflow-x: hidden;
    overflow-y: scroll;
    scrollbar-width: thin;
}

.ingredientsType {
    grid-column: 1 / 3;
    justify-self: left;
}

.componentsDiv {
    display: grid;
    grid-column: 1/3;
    grid-template: 1fr / repeat(2, 2fr);
    max-width: 600px;
    width: 100%;
    column-gap: 24px;
    justify-items: center;
}
